@import 'variables';

body {
  background: $purpleblack-color !important;
  margin: 0px 0px;
  font-family: "Pentor Corporate" !important;
  color: $white-color;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 16px;
}

@font-face {
  font-weight: 600;
  font-family: "Pentor Corporate";
  src: url('~assets/fonts/PentorCorporate-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}


a {
  color: $black-color;
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: none;
  width: 100%;
}
.width-hunded{
  width: 100%;
}
a:hover {
  color: $black-color;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.error {
  color: red;
  font-size: 0.8em;
}

form {
  width: 100%;
}

input {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #BABABA;
  background: #fff;
  color: #5c25f2;
  margin-bottom: 0;
  box-sizing: border-box;
  padding: 0 10px;
}

.dis-play-evenly {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 80px;
}

.dis-play-between {
  display: flex;
  justify-content: space-between;
  padding: 0px 240px;
}

.box-Navbar {
  display: flex;
  justify-content: center;
}

.W-default {
  width: 100%;
  padding: 30px 150px;
  // max-width: 1700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-content {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
}
.home-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--Spacing-space-48, 48px);
}
.box-cotent-two{
  display: flex;
  justify-content: space-evenly;
}
.dis-col-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1350px;
}

.dis-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pad-img {
  padding: 0px 24px;
}



.dis-contentimg {
  padding: var(--Spacing-space-24, 24px) var(--Spacing-space-0, 0px);
  align-items: center;
  border-radius: var(--Border-radius-8, 8px);
  background: $purple-color;
  width: max-content;

}

.footer-head {
  width: 100%;
  display: flex;
  padding: var(--Spacing-space-0, 0px);
  flex-direction: column;
  background: var(--Color-Primary-700, $purple-color);
  padding: 40px;
  margin-top: 40px;
}


.footer-bottom {
  width: 100%;
  display: flex;
  padding: var(--Spacing-space-0, 0px);
  flex-direction: column;
  background: var(--Color-Background, $purpleblack-color);
  padding: 20px 40px;

  // margin-top: 40px;
  .icon {
    padding-right: 15px;
    cursor: pointer;
  }
}



.card-container {
  perspective: 1000px;
  /* เพิ่มความลึกให้กับเอฟเฟกต์ */
  padding: 0px 24px;
  cursor: pointer;
}

.card {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* ไม่เพิ่ม transition ให้กับการ์ด */
  background: linear-gradient(0deg, rgb(4, 23, 36) 9.67%, rgba(4, 23, 36, 0) 68.19%);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  /* เพิ่ม transition สำหรับการซูมภาพ */
  background: linear-gradient(0deg, rgb(4, 23, 36) 9.67%, rgba(4, 23, 36, 0) 68.19%);
}

.card:hover .card-image {
  transform: scale(1.1);
  /* ซูมภาพเมื่อ hover */
}

.card-content {
  position: absolute;
  bottom: 0;
  // background: rgba(0, 0, 0, 0.5);
  color: $white-color;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(0deg, rgb(4, 23, 36) 9.67%, rgba(4, 23, 36, 0) 68.19%);
  color: $Yellow-color;
  font-variant-numeric: stacked-fractions;
  font-feature-settings: 'hlig'on, 'dlig'on;
  text-shadow: 0px 0px 8px rgba(255, 235, 59, 0.50);
}

.text-card {
  color: $gray-color;
}


#copyrights {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

#copyrights a {
  text-decoration: none;
  color: var(--bg-darker);
}

/* tpn card style */
.tpn_card {
  width: 220px;
  // height: 300px;
  border-radius: var(--Border-radius-8, 8px);
  background: var(--Color-Midnight-400, #3c3b4b);
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

.tpn_cardimg {
  box-shadow: 1px 7px 13px var(--shadow);
  height: 150px;
  width: 100%;
  border-radius: var(--Border-radius-8, 8px) var(--Border-radius-8, 8px) var(--Spacing-space-0, 0px) var(--Spacing-space-0, 0px);
}

.tpn_card .tpn_btn:hover {
  background: var(--bg-darker);
  box-shadow: none;
}

.content-under {
  display: flex;
  height: 30px;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 0px 0px 8px 8px;
  background: var(--Color-Primary-Pueple-500, $Primary-Pueple-500);
  font-size: 14px;
}

.loveimg {
  display: flex;
  position: relative;
  align-items: flex-start;
  top: 2px;
  padding-right: 3px;
}

.font {
  color: $gray-color;
  font-variant-numeric: stacked-fractions;
  font-feature-settings: "hlig"on, "dlig"on;
  font-family: "Pentor Corporate";
  font-size: 12px;
}

.buttonshop {
  display: flex;
  padding: 3px 5px;
  justify-content: center;
  align-items: center;
  border-radius: var(--Border-radius-8, 8px);
  background: var(--Color-Primary-Pueple-500, $Primary-Pueple-500);
}

.error-message {
  color: red;
  font-size: 12px;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  text-align: center;
  font-size: 16px;
}

.ql-toolbar.ql-snow {
  border-radius: 5px 5px 0px 0px;
}


.swal2-confirm-button {
  background-color: #4caf50 !important; /* สีเขียวสำหรับปุ่มยืนยัน */
  color: white;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #7066e0;
  color: #fff;
  font-size: 1em;
}
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #6e7881;
  color: #fff;
  font-size: 1em;
}


