@import 'variables';


.b-top-cy {
  border-radius: var(--Border-radius-8, 8px);
  background: $Yellow-color;
  box-shadow: 0px 4px 10px 0px rgba(255, 235, 59, 0.30);
  color: $Primary-Pueple-500;
  border: 1px solid $Primary-Pueple-500 !important;
}

.b-top-cy:hover {
  background-color: #CCBC2F;
}

.navbar-main {
  padding: 40px 4vw 30px 4vw;
  border-radius: 0px 0px 16px 16px;
  background: linear-gradient(180deg, #130048 0%, #5823E5 100%);
  background: linear-gradient(180deg, #130048 0%, #5823E5 100%);
  background: var(--Linear, linear-gradient(180deg, #130048 0%, #5823E5 100%));
  max-width: 100%;
  width: 100%;

  // max-width: 1300px;
  .navbar {
    display: flex;
    width: 100%;
    padding: 0px;
    align-items: flex-start;
  }


  .nav-left.nav-right {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 30px;
    margin-bottom: 10px;
    padding: 0px 15px;
  }

  .display-f {
    display: flex;
  }

  .img-safe {
    padding-right: 8px;
  }


  .nav-top {
    display: flex;
  }

  .bottom-top {
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 10px;
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;
  }

  .icon {
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $white-color;
    margin: 0px 6px;
    cursor: pointer;
  }

  .icon-cart {
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8;
    background: $purple-color;
    margin: 0px 6px;
    cursor: pointer;
  }

  .bottom-w {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $white-color;
    color: $Primary-Pueple-500;
    width: 120px;
  }

  .bottom-w:hover {
    color: #401AA8;
  }

  .bottom-y {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid $Primary-Pueple-500;
    background: $Yellow-color;
    color: $Primary-Pueple-500;
    width: 120px;
  }

  .bottom-y:hover {
    background-color: #CCBC2F;
  }

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 3px 10px;
    margin: 0px 6px;
  }

  .search-input {
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    outline: none;
    width: 250px;
    padding-right: 40px;
    /* เพิ่มพื้นที่สำหรับไอคอน */
    height: 0px;

  }

  .search-icon {
    // position: absolute;
    right: 20px;
    width: 24px;
    height: 24px;
    pointer-events: none;
    /* ป้องกันไม่ให้ไอคอนถูกคลิก */
  }



  .button {
    display: inline-block;
    // padding: 10px 20px;
    // background-color: #007bff;
    color: $white-color;
    text-decoration: none;
    /* ลบขีดเส้นใต้ของลิงก์ */
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    /* เพิ่มคุณสมบัติ position */
  }

  /* เมื่อโฮเวอร์ที่ปุ่ม */
  .button:hover {
    // background-color: #0056b3;
    text-decoration: none;
    /* ลบขีดเส้นใต้ของลิงก์ */
  }

  /* เมื่อโฮเวอร์ที่ปุ่ม (มีขีดเส้นใต้) */
  .button:hover::after {
    content: "";
    display: block;
    width: 100%;
    /* ทำให้เส้นใต้มีความยาวเท่ากับข้อความ */
    height: 2px;
    background-color: $white-color;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 1.5s ease;
    /* เพิ่ม transition เพื่อทำให้การเข้ารหัสมีความช้า ๆ */
  }
}

.Logo-img {
  width: 225px;
  height: 110px;
  animation: fadeIn 5s;
  &:hover {
    filter: contrast(200%) brightness(120%);
  }
  &.logo-footer {
    width: 168.75px;
    height: 82.5px;
    animation: fadeIn 5s;
    &:hover {
      filter: contrast(200%) brightness(120%);
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.footer-layout { 
  height: 200px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.lower-footer-layout {

}
.footer-menu {
  display: block;
  .sub-menu {
    padding-bottom: 16px;
    color: gray;
  }
  img {
    height: 70px;
    width: 70px;
  }
}
.footer-bottom {
  .lower-footer-layout {
    display: flex;
    justify-content: space-between;
  }
  .icon {
    cursor: auto;
    img {
      filter: brightness(0.4);
    }
  }
}
