.Shop{
  .group-comment {
    padding: var(--Spacing-space-16, 16px);
    border-radius: var(--Border-radius-8, 8px);
    background: var(--Color-Primary-Pueple-500, #5c25f2);
    width: 100%;
  }
  .box-comment {
    align-items: flex-start;
    margin: 10px 0px;
    justify-content: space-between;
    border-top: 1px solid var(--Color-Secondary-500, #ffeb3b);
    border-bottom: 1px solid var(--Color-Secondary-500, #ffeb3b);
    padding: 10px 0px;
  }
  .text-area {
    border-radius: 6px;
    border: 1px solid #bababa;
    background: #fff;
    display: flex;
    padding: 8px 16px 64px 16px;
    gap: 10px;
    width: 100%;
  }
  .font-head-bottom {
    color: var(--Color-Secondary-500, #ffeb3b);
    font-size: 20px;
  }
  .content-top-right {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .dis-flex {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0px;
  }
  .dis-flex-star {
    display: flex;
    margin-left: 5px;
  }

  .dis-btween {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .button-shop {
    border-radius: var(--Border-radius-8, 8px);
    background: var(--Color-Primary-Pueple-500, #5c25f2);
    padding: var(--Spacing-space-200, 8px) var(--Spacing-space-8, 8px);
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }
  .bottom-y {
    width: 100%;
    height: 40px;
    padding: var(--Spacing-space-8, 8px) var(--Spacing-space-12, 12px);
    border-radius: var(--Border-radius-8, 8px);
    border: 1px solid var(--Color-Primary-Pueple-500, #5c25f2);
    background: var(--Color-Secondary-500, #ffeb3b);
    color: #5c25f2;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
  .bottom-p {
    width: 100%;
    height: 40px;
    padding: var(--Spacing-space-8, 8px) var(--Spacing-space-12, 12px);
    border-radius: var(--Border-radius-8, 8px);
    border: 1px dashed var(--Color-Secondary-500, #FFEB3B);
    background: var(--Color-Primary-Pueple-500, #5C25F2);
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
  .img-safe {
    cursor: pointer;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .main-image-section {
    position: relative;
  }

  .main-view {
    max-width: 100%;
    max-height: 600px;
    cursor: pointer;
    width: 100%;
    height: 310px;
  }

  .caption-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }

  .thumbnails {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    margin-top: 20px;
    border-radius: var(--Border-radius-6, 6px);
    background: var(--Color-Primary-Pueple-500, #5c25f2);
    padding: var(--Spacing-space-8, 8px) var(--Spacing-space-12, 12px);
  }

  .thumbnails img {
      cursor: pointer;
      margin-right: 10px;
      width: 100px;
      height: 60px;
      border: 1px solid var(--Color-Secondary-500, #FFEB3B);
      border-radius: var(--Border-radius-6, 6px);
  }


  .markettop-toppage {
    border-radius: var(--Border-radius-8, 8px);
    background: var(--Color-Primary-700, #3a179a);
  }

  .font-head-bottom {
  margin-bottom: 10px;
}

}
 /* width */
 ::-webkit-scrollbar {
   width: 8px;
   height: 8px;
   cursor: pointer;
 }

 /* Track */
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey;
   border-radius: 10px;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #ffeb3b;
   border-radius: 10px;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #ffeb3b;
 }
 .font-head-bottom {
  margin-bottom: 10px;
}
.font-SHOP-band {
  font-size: 24px;
  margin-bottom: 20px;
}
.dis-btween {
  margin-bottom: 10px;
}
.item-img {
  width: 100px; /* ขนาดของรูปภาพ */
}
.shop-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd; /* กรอบรอบๆสินค้า */
}

.discount-section {
  margin-top: 20px;
  padding-top: 20px;
}
.discount-title {
  margin: 10px 0;
  font-weight: bold;
  color: var(--Color-Primary-Pueple-500, #5c25f2);
}
.total-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.box-pay {
  border-radius: var(--Border-radius-6, 6px);
  background: var(--color-black-white-900, #fff);
  display: flex;
  padding: var(--Spacing-space-16, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-space-16, 16px);
  margin: 10px;
  color: black;
}
.box-pay-right {
  border-radius: var(--Border-radius-6, 6px);
  background: var(--Color-Midnight-400, #3c3b4b);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  color: #fff;
}
.top-head {
  display: flex;
  width: 100%;
  padding: var(--Spacing-space-16, 16px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: var(--Border-radius-6, 6px) var(--Border-radius-6, 6px)
    var(--Border-radius-0, 0px) var(--Border-radius-0, 0px);
  background: var(
    --Linear,
    linear-gradient(88deg, #6127ff 0.47%, #6f3aff 100%)
  );
  font-size: 20px;
  color: white;
}

.shop-item {
  color: var(--color-black-white-100, #080808);
  display: flex;
  width: 100%;
  padding: var(--Spacing-space-16, 16px);
  justify-content: space-between;
  align-items: center;
  border-radius: var(--Border-radius-0, 0px);
  background: var(--color-black-white-800, #f8f8f8);
}
.item-img {
  border-radius: var(--Border-radius-16, 16px);
  width: 80px;
  height: 70px;
}
.total {
  color: var(--Color-Primary-Pueple-500, #5c25f2);
}
.all-total {
  color: var(--color-black-white-700, #bababa);
}
.img-shop-nav {
  width: 50px;
  border-radius: var(--Border-radius-Full, 9999px);
  height: 50px;
}


.Profile{
  .text-profile{
    color: #bababa;
    font-size: 18px;
  }
 
  .font-proL-top {
    color: #ffeb3b;
    font-size: 24px !important;
  }
  .M-Create-Backgroud .form-create {
    align-items: flex-start;
  }

  .font-top {
    color: #5c25f2;
    text-align: left;
    margin-bottom: 5px;
  }
  .font-top-pro {
    color: #bababa;
    font-size: 16px;
  }
  .wid-cen {
    width: 50%;
  }
  .font-content-pro {
    color: #5c25f2;
  }

  .img-safe {
    top: -3px;
    margin-right: 5px;
  }
  .font-content-ver {
    color: #38b899;
  }
  .font-content-Unver {
    color: #BABABA;
  }
}
